.url-link {
  font-size: 0.9rem;
  padding: 3px;
  border-radius: 3px;
  background-color: rgb(55, 107, 126);
  display: flex;
  align-items: center;
  color: #fff;
}

.url-header {
  font-size: 0.9rem;
}
